.About-wrapper {
  background-image: linear-gradient(
    180deg,
    #000000 0%,
    #000000 0.01%,
    rgba(0, 0, 0, 0.17) 48.96%,
    #000000 98.44%
  ), url(./images/kevin-horvat-Pyjp2zmxuLk-unsplash.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.About-wrapper h3{
  margin: 0px;
}

.About-icon {
  height: 40px;
  width: 40px;
}