.About-background {
  background-image: url(./images/kevin-horvat-Pyjp2zmxuLk-unsplash.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.About-overlay {
  height: 100vh;
  background: linear-gradient(
    180deg,
    #000000 0%,
    #000000 0.01%,
    rgba(0, 0, 0, 0.17) 48.96%,
    #000000 98.44%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.About-content-wrapper {
  --contentWidth: 400px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.About-content {
  max-width: var(--contentWidth);
  margin: 0 auto;
}

.About-content h2 {
  color: #3fdcff;
  font-family: Varela Round;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.08em;
}

.About-content p {
  color: #ffffff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08em;
  margin-top: 24px;
}

.About-icons {
  align-self: center;
  max-width: 400px;
}

.About-icon {
  height: 40px;
}

@media only screen and (min-width: 768px) {
  .About-content h2 {
    font-size: 24px;
  }
  .About-content p {
    color: #ffffff;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.08em;
    margin-top: 24px;
  }

  .About-icon {
    height: 100px;
    margin: auto;
  }
}
