.Contact-background {
  background-image: url(./images/brook-anderson-gTQbZXL417Q-unsplash.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Contact-overlay {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 47.92%, #000000 100%);
}

.Contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.Contact-icon {
  margin: 8px 0px;
}

@media only screen and (min-width: 768px){
  .Contact-content{
    flex-direction: row;
  }
  .Contact-icon{
    margin: 16px;
  }
}