body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Varela Round";
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.08em;
  color: #ffffff;
}

h2 {
  font-family: "Varela Round";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.12em;
  color: #ffffff;
}

h3 {
  font-family: "Varela Round";
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.12em;
  color: #3FDCFF;
}

p {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #ffffff;
}
