.Navbar{
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    bottom: 0%;
    
}

.Navbar a{
    text-decoration: none;
    color: white;
    padding: 8px;
    margin: 0px;
    font-size: 24px;
    line-height: 32px;
    font-family: Open Sans;
}
.Navbar a:hover{
    background: #3FDCFF;
    text-shadow: 0px 0px 4px white;
}

@media only screen and (min-width: 1024px){
    .Navbar{
        bottom: initial;
        justify-content: flex-end;
    }
    .Navbar a{
        
    }
}