.Profile-background {
  background-image: url(./images/nashville.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  max-width: 100%;
}

.Profile-overlay {
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(0, 208, 255, 0.28) 0%,
    rgba(0, 208, 255, 0.28) 22.33%,
    rgba(0, 0, 0, 0.54) 54.69%,
    #000000 100%
  );
}

.Profile-content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  margin-bottom: auto;
}

.Profile-heading h1 {
  font-family: Varela Round;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  letter-spacing: 0.08em;
	margin: 16px 8px 0px 8px;
	padding-top: 8px;
  width: 100%;
  text-align: center;
}

.Profile-heading h2 {
  font-family: Varela Round;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  letter-spacing: 0.12em;
  width: 100%;
  text-align: center;
}

.Profile-heading p {
  border-radius: 45px;
  background:  rgba(0, 71, 87, 0.5);;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.1em;
  padding: 16px 24px;
  margin: 8px 24px auto;
}

.Profile-image-wrapper {
  display: flex;
	align-items: flex-end;
	height: 100%;
}

.Profile-image {
  height: 60vh;
  transform: scaleX(-1);
}

@media only screen and (min-width: 768px) {
	.Profile-content{
		flex-direction: row;
	}

	.Profile-heading{
		position: absolute;
		max-width: 400px;
	}
	
	.Profile-heading p{
		font-size: 18px;
	}

	.Profile-image-wrapper{
		width: 100%;
		justify-content: flex-end;
	}

  .Profile-image {
    transform: scaleX(1);
    width: 50vh;
		height: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .Profile-image {
    height: 90vh;
    width: auto;
  }
}
