.Profile-wrapper {
  background: linear-gradient(
      180deg,
      #00d0ff 0%,
      rgba(0, 208, 255, 0.28) 19.51%,
      rgba(0, 0, 0, 0) 45.05%,
      #000000 89.82%
    ),
    url(./images/nashville.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.Profile-wrapper h1 {
  margin: 24px 0px 0px;
  align-items: center;
  text-align: center;
}

.Profile-wrapper h2 {
  margin: 0px 0px 24px;
  align-items: center;
  text-align: center;
}

.Profile-wrapper p {
  align-items: center;
  text-align: center;
  margin: 0px 40px;
}

.Profile-image {
  height: 60vh;
  transform: scaleX(-1);
  position: absolute;
  bottom: 0;
}

@media only screen and (min-width: 720px) {
  .Profile-wrapper h1{
    font-size: 64px;
    line-height: 72px;
  }
  .Profile-wrapper h2{
    font-size: 32px;
    line-height: 40px;
  }
  .Profile-wrapper p{
    font-size: 24px;
    line-height: 32px;
  }
}
@media only screen and (min-width: 1024px) {
  .Profile-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". . . ."
      "title title title title"
      ". subtitle subtitle ."
      ". content content ."
      ". . . .";
  }

  .Profile-wrapper h1 {
    grid-area: title;
    font-size: 128px;
    line-height: 160px;
    margin: 0px 8px;
  }
  .Profile-wrapper h2 {
    grid-area: subtitle;
    font-size: 48px;
    line-height: 56px;
  }
  .Profile-wrapper p {
    grid-area: content;
    font-size: 36px;
    line-height: 48px;
  }
  .Profile-image {
    transform: scaleX(1);
    right: 0;
    height: auto;
    width: 35%;
    max-width: 600px;
  }
}
@media only screen and (min-width: 1225px) {
  .Profile-wrapper {
    grid-template-areas:
      ". . . ."
      "title title title ."
      "subtitle subtitle subtitle ."
      "content content content ."
      ". . . .";
  }
}
