.Profile-background {
  background-image: url(./images/nashville.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  max-width: 100%;
}

.Profile-overlay {
  height: 100vh;
  background: linear-gradient(180deg, #00D0FF 0%, rgba(0, 208, 255, 0.28) 19.51%, rgba(0, 0, 0, 0) 45.05%, #000000 89.82%);
}

.Profile-content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  margin-bottom: auto;
}

.Profile-heading h1 {
  font-family: Varela Round;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.08em;
  margin: 16px 8px 0px 8px;
  padding-top: 8px;
  width: 100%;
  text-align: center;
}

.Profile-heading h2 {
  font-family: Varela Round;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  letter-spacing: 0.12em;
  width: 100%;
  text-align: center;
}

.Profile-heading p {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1em;
  padding: 16px 24px;
  margin: 8px 24px auto;
}

.Profile-image-wrapper {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.Profile-image {
  height: 60vh;
  transform: scaleX(-1);
}

@media only screen and (min-width: 768px) {
  .Profile-content {
    flex-direction: row;
  }

  .Profile-heading {
    position: absolute;
    max-width: 400px;
  }

  .Profile-heading p {
    font-size: 18px;
    line-height: 24px;
  }

  .Profile-image-wrapper {
    width: 100%;
    justify-content: flex-end;
  }

  .Profile-image {
    transform: scaleX(1);
    width: 50vh;
    height: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .Profile-heading {
    margin-top: 40px;
  }
  .Profile-heading h1{
    font-size: 56px;
  }
  .Profile-heading h2{
    font-size: 32px;
    margin-top: 16px;
  }

  .Profile-heading p {
    margin-top: 60px;
    font-size: 24px;
    line-height: 32px;
  }

  .Profile-image {
    height: 90vh;
    width: auto;
  }
}
