.Projects-background {
  background-image: url(./images/johny-goerend-Oz2ZQ2j8We8-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Projects-overlay {
  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0) 47.92%,
    #000000 100%
  );
  width: 100%;
}

.Projects-content-wrapper {
  background-attachment: fixed;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Projects-content {
  max-width: 90%;
}

.Projects-content h2 {
  color: #3fdcff;
  font-family: Varela Round;
  font-size: 32px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.08em;

  margin: 0px;
  padding: 24px 0px 24px;
}

.Projects-content h3 {
  font-family: Open Sans;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.12em;
  color: #009cff;
  text-align: center;

  margin: 24px 0px 16px;
}

.Projects-content p {
  color: #fff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.12em;
}
.Projects-shire-images {
  display: flex;
  justify-content: center;
}

.Projects-shire-img {
  height: 250px;
  width: auto;
}

.Projects-waiterly-img {
  height: 250px;
  width: auto;
}

@media only screen and (min-width: 768px) {
  .Projects-content {
    max-width: 400px;
  }
  .Projects-shire-img{
    height: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .Projects-content {
    max-width: 600px;
  }
}
